html {
	--light-theme-background-color: rgb(217, 217, 217);
	
	--content-height: 75vh;
	--content-left-padding: 8px;
	
	--primary-color: rgb(30, 69, 95);
	--primary-disabled-color: rgba(30, 69, 95, 0.35);
	
	--button-font-color: white;
	--button-disabled-font-color: rgba(255, 255, 255, 0.35);
	
	--mono-font-family: "JetBrains Mono","Noto Mono","Fira Mono","Ubuntu Mono","Consolas",monospace;
}

vaadin-button {
	color: var(--button-font-color);
	background-color: var(--primary-color);
}

vaadin-button[disabled] {
	color: var(--button-disabled-font-color);
	background-color: var(--primary-disabled-color);
}

vaadin-button, vaadin-checkbox {
	cursor: pointer;
}
vaadin-button[disabled], vaadin-checkbox[disabled] {
	cursor: not-allowed;
}

vaadin-select {
	width: 30%;
}

vaadin-text-area {
	height: var(--content-height);
	max-height: var(--content-height);
	width: calc(100vw - var(--content-left-padding));
}

.controls {
	display: flex;
	flex-direction: row;
}

.controls--inputs {
	width: 60vw;
}

.controls--options {
	padding-top: 2.5em;
	
	width: 15vw;
}

.controls--submit {
	padding-top: 2em;
	
	text-align: center;
}

.toggle-theme {
	position: absolute;
	right: 0;
	margin-right: 0.5em;
}
