html {
	--light-theme-background-color: rgb(217, 217, 217);
	
	--content-inset: 8px;
	--input-inset: calc(3 * var(--content-inset));
	
	--content-height: 75vh;
	
	--primary-color: rgb(30, 69, 95);
	--primary-disabled-color: rgba(30, 69, 95, 0.35);
	
	--button-font-color: white;
	--button-disabled-font-color: rgba(255, 255, 255, 0.35);
	
	--mono-font-family: "JetBrains Mono","Noto Mono","Fira Mono","Ubuntu Mono","Consolas",monospace;
}

vaadin-button {
	color: var(--button-font-color);
	background-color: var(--primary-color);
}

vaadin-button[disabled] {
	color: var(--button-disabled-font-color);
	background-color: var(--primary-disabled-color);
}

vaadin-button.source-code-link {
	position: absolute;
	right: 0;
	bottom: 0;
	
	height: 3em;
	width: 3em;
	
	background-color: transparent;
}

vaadin-button, vaadin-checkbox {
	cursor: pointer;
}
vaadin-button[disabled], vaadin-checkbox[disabled] {
	cursor: not-allowed;
}

vaadin-select {
	width: 30%;
	padding-left: var(--input-inset);
}

vaadin-text-area {
	height: var(--content-height);
	max-height: var(--content-height);
	width: calc(100vw - var(--content-inset));
}

.controls {
	display: flex;
	flex-direction: row;
}

.controls--inputs {
	padding-left: var(--input-inset);
	width: 60vw;
}

.controls--options {
	padding-top: 3.5em;
	width: 15vw;
}

.controls--submit {
	padding-top: 2em;
}

.toggle-theme {
	position: absolute;
	right: 0;
	margin-right: var(--input-inset);
}
